{% extends 'includes/layout.njk' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('/style/page.css') }}">
{% endblock %}

{% if(page.title) %}
    {% set page_title = page.title%}
{% else %}
    {% set page_title = page.streamer %}
{% endif %}
 
{% block title %} > {{ page_title }} {% endblock %}

{% block content %}
    <div class="content-text">
        {% if page.source == 'shows/index.md' %}
            {{ page.more }}
            {% for p in site.pages.toArray().sort() %}
                {% if p.source.startsWith('shows/') and p.source != "shows/index.md" %}
                    {% include '_partial/show_card.njk' %}
                {% endif %}
            {% endfor %}

        {% elif page.source == 'team/index.md' %}
            {{ page.more }}
            {% for p in site.pages.toArray().sort() %}
                {% if p.source.startsWith('team/') and p.source != "team/index.md" %}
                    {% include '_partial/member_card.njk' %}
                {% endif %}
            {% endfor %}

        {% else %}
            {{ page.more }}
        {% endif %}
    </div>
{% endblock %}