body {
    background: black;
    color: white;
    font-family: 'contentFont';
}

header {
    background: #e5cf18;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
}

/* Navigation START */
.logo {
    vertical-align: middle;
    height: 60px;
    /*width: 60px;*/
    padding-left: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: black;
    display: block;
    padding-right: 20px;
    text-decoration: underline;
    text-decoration-thickness: 20%;
}

nav ul li:first-child {
    margin-right: auto;
}

/* Navigation END */

.content {
    background-color: #111;
    color: white;
    padding: 10px;
    margin: 10px;
}

footer {
    margin: 0;
    background-color: #e5cf18;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.footer-icons {
    width: 35px;
    height: 35px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

/* Desktop Viewport */
@media screen and (min-width: 1024px) {
    header {
        font-size: 1.8rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo {
        height: 100px;
        padding-left: 30px;
    }

    nav ul li a {
        padding-right: 30px;
    }

    .content {
        margin: 10px 20px;
    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .socials {
        text-align: left;
        margin-bottom: 0px;
    }

    .owncast {
        text-align: right;
        margin-bottom: 0px;
    }
}
sup {
    font-size: 0.5em;
}
