.content-text {
    line-height: 1.5;
}

.content-text h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
}

.content-text h1 {
    font-size: 2.2em;
}

.content-text h2 {
    font-size: 1.8em;
}

.content-text h3 {
    font-size: 1.6em;
}

.content-text h4 {
    font-weight: 700;
    font-size: 1.4em;
}

.content-text h6 {
    font-size: 1.2em;
    font-weight: 600;
}

.content-text p {
    font-size: 1.2em;
}

.content-text li {
    font-size: 1.2em;
}

.content-text .label {
    display: inline-block;
    color: #000;
    background-color: #e5cf18;
    padding: 2px 10px;
    font-size: 1em;
    border-radius: 5px;
}
  
.content-text .link {
    margin-top: -1rem;
    color: #e5cf18;
    text-decoration: underline;
    text-decoration-thickness: 20%;
}

.content-text a {
    text-decoration: none;
    color: #e5cf18;
}

.content-text .subheader {
    font-size: 1.2em;
}

.content-text .kofi_donate {
    border: 0px;
    height: 36px;
}

.content table {
    font-size: 1.2rem;
    text-align: left;
    margin: auto;
    table-layout: fixed;
}

.content table a {
    text-decoration: none;
    color: #e5cf18;
    border-bottom: 2px solid white;
}

.content th {
    font-size: 1.2rem;
    padding: 10px 5px;
    border-bottom: 3px solid #e5cf18;
}

.content td {
    padding: 10px 5px;
    border-bottom: 1px solid #e5cf18;
}

.content-text {
    width: 95%;
}

@media screen and (min-width: 1024px) {
    .content-text {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .content table {
        font-size: 1.3rem;
    }

    .content th {
        font-size: 1.4rem;
    }
}

.mixcloud-embed {
    display: block;
    padding: 0;
    width: 100%;
    margin: 5px 0;
}

.soundcloud-embed {
    display: block;
    padding: 0;
    width: 100%;
    margin: 5px 0;
}
